.navbar {
	height: 4.2em;
	border-top: 0.4em solid #EDD7C7;
}

.logo {
	width: 2em;
	height: 2em;
	margin: -0.9em 0.3em 0 0;
}

.logoText {
	font-size: 1.8em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.slogan {
	font-size: 1.4em;
}

.slogan1 {
	/*margin-left: 9.5em;*/
	color: #fdd651;
}

.slogan2 {
	color: #f479aa;
}

.slogan3 {
	color: #75d1f7;
}

.slogan4 {
	color: #96D6A5;
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
	padding: 0 0 10px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #A8C2B1;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

#row1 {
	margin: 1em 0 0 0.1em;
}

#intro {
	padding: 1.5em 2em;
}

#intro h1{
	padding: 0.3em 0;
}

#intro h3 {
	margin-top: 1em;
	padding: 0.7em;
	color: #fff;
	background-color: #9CB5A4;
}

#name {
	color: #836f5d;
}

#myCanvas1, #myCanvas2 {
	margin-top: 10px;
}

/* For mobile viewer */
@media (max-width: 1199px){
	h1 {
	  	font-size: 2em;
	}
	h3 {
	  	font-size: 1.3em;
	}
}

@media (max-width: 991px){
	p.navbar-text {
		display: none;
	}
}

@media (max-width: 767px){
	#slider {
		display: none;
	}

	#intro {
		padding: 0;
	}

	#intro h1{
		padding: 0;
	}
}