
.content{
	right: 40px;
	left: 40px;
	top: 0px;
	position: absolute;
	background-color: #f8f2ec;
}

.panel{
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #EDD7C7;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	/*-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	-ms-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;*/
	-webkit-transition: all 1.1s ease-in-out;
	-moz-transition: all 1.1s ease-in-out;
	-o-transition: all 1.1s ease-in-out;
	-ms-transition: all 1.1s ease-in-out;
	transition: all 1.1s ease-in-out;
}
.panel:target{
	margin-left: 0%;
	background-color: #f8f2ec;
}

#home:target ~ #header #link-home,
#works:target ~ #header #link-works,
#jigsaw:target ~ #header #link-works,
#note:target ~ #header #link-works,
#fatal:target ~ #header #link-works,
#beijing:target ~ #header #link-works,
#identity:target ~ #header #link-works,
#erent:target ~ #header #link-works,
#hcn:target ~ #header #link-works,
#academy:target ~ #header #link-works,
#about:target ~ #header #link-about,
#contact:target ~ #header #link-contact {
	background-color: #655648;
	color: #fff;
}